.article::shadow > table > tbody { 
	border: 1px solid #f0f0f0;
}
.article::shadow > table > tbody > tr { 
	border: 1px dashed #f5f5f5;
}
.article::shadow > table > tbody > tr > td { 
	vertical-align: top;
}
.article::shadow > table > tbody > tr.selected-row {
	background-color: #f7f1e8;
}
.article::shadow > table > tbody > tr:hover { 
	background-color: #f7f7f7;
}
.article::shadow > table > thead {
	margin-bottom: 25px;
	display: table-caption;
}
.article::shadow > table > tfoot > tr > td > table.articlePager {
	margin-top:25px;
	color: #777;
	border-collapse: collapse;
}
.article::shadow > table > thead > tr {
	width: 100%;
	display: table;
	cursor: pointer;
	border-top:1px solid transparent;
}
.article::shadow > table > thead > tr > th,
.article::shadow > table > tfoot > tr > td > table.articlePager td,
.article::shadow .infinitePager {
	border-color: #ccc;
	border-style: solid;
	color: #777;
}
.article::shadow > table > thead > tr > th {
	border-width: 0 0 1px 0;
}
.article::shadow > table > thead > tr > th:not(.checkbox-column),
.article::shadow > table > tfoot > tr > td > table.articlePager td {
	padding: 0 20px 5px;
	white-space: nowrap;
	height: 40px;
	vertical-align: bottom;
}
.article::shadow > table > tfoot > tr > td > table.articlePager td {
	border-width: 1px 0 0 0;
	height: 25px;
	vertical-align: top;
	padding-top: 5px;
}
.article::shadow > table > thead > tr > th.checkbox-column {
	padding: 0 0 6px 8px;
	vertical-align: bottom;
}
.article::shadow > table > thead > tr > th:hover,
.article::shadow > table > tfoot > tr > td > table.articlePager td:first-of-type:hover,
.article::shadow .infinitePager button:hover {
	color: #d38b28;
}
.article::shadow > table > thead > tr > th.sorted-column-asc,
.article::shadow > table > thead > tr > th.sorted-column-desc,
.article::shadow > table > tfoot > tr > td > table.articlePager td:first-of-type {
	border-width: 1px 1px 0 1px;
	padding: 0px 30px;
	vertical-align: middle;
	color: #333;
}
.article::shadow > table > tfoot > tr > td > table.articlePager td:first-of-type {
	border-width: 0 1px 1px 1px;
	font-weight: 700;
}
.article::shadow > table > tfoot > tr > td > table.articlePager td:nth-of-type(3) {
	font-weight: 700;
	padding-right: 4px;
}
.article::shadow > table > tfoot > tr > td > table.articlePager td select {
	-webkit-appearance: none;
	border: 1px solid #ccc;
	color: #333;
	font-size: 16px;
	background-color: inherit;
}
.article::shadow > table > tfoot > tr > td > table.articlePager td select:hover,
.article::shadow > table > tfoot > tr > td > table.articlePager td select:active,
.article::shadow > table > tfoot > tr > td > table.articlePager td select:focus {
	color: #d38b28;
}
.article::shadow > table > thead > tr > th.column-0.sorted-column-asc,
.article::shadow > table > thead > tr > th.column-0.sorted-column-desc {
	border-width: 0 0 1px 0;
	padding: 0 20px 5px;
	vertical-align: bottom;
}
.article::shadow > table > thead > tr > th.column-0 {
	width: 100%;
	text-align: left;
}
.article::shadow .infinitePager {
	width: 100%;
	text-align: center;
	border-width: 1px 0 0 0;
	padding-top: 4px;
	font-size: 16px;
}
.article::shadow .infinitePager button {
	border: none;
	background-color: transparent;
	font-size: 16px;
	font-weight: 700;
}