.article::shadow > table > tbody { 
	border: 1px solid #f7f7f7;
}
.article::shadow > table > tbody > tr { 
	border-bottom: 1px dashed #fcfcfc;
}
.article::shadow > table > tbody > tr > td { 
	padding: 15px 5px 25px 5px;
	vertical-align: top;
}
.article::shadow > table > tbody > tr.selected-row {
	background-color: #f7f1e8;
}
.article::shadow > table > tbody > tr:hover { 
	background-color: #f7f7f7;
}
.article::shadow > table > thead {
	margin-bottom: 25px;
	display: table-caption;
}
.article::shadow > table > tfoot > tr > td > table {
	margin-top:25px;
	color: #777;
	border-collapse: collapse;
	width: 100%;
}
.article::shadow > table > thead > tr {
	width: 100%;
	display: table;
	cursor: pointer;
	border-top:1px solid transparent;
}
.article::shadow > table > thead > tr > th,
.article::shadow > table > tfoot > tr > td > table td {
	border-color: #ccc;
	border-style: solid;
	color: #777;
}
.article::shadow > table > thead > tr > th {
	border-width: 0 0 1px 0;
}
.article::shadow > table > thead > tr > th:not(.checkbox-column),
.article::shadow > table > tfoot > tr > td > table td {
	padding: 0 20px 5px;
	white-space: nowrap;
	height: 40px;
	vertical-align: bottom;
}
.article::shadow > table > tfoot > tr > td > table td {
	height: 25px;
}
.article::shadow > table > thead > tr > th.checkbox-column {
	padding: 0 0 6px 8px;
	vertical-align: bottom;
}
.article::shadow > table > thead > tr > th:hover,
.article::shadow > table > tfoot > tr > td > table td:first-of-type:hover {
	color: #d38b28;
}
.article::shadow > table > thead > tr > th.sorted-column-asc,
.article::shadow > table > thead > tr > th.sorted-column-desc,
.article::shadow > table > tfoot > tr > td > table td:first-of-type {
	border-width: 1px 1px 0 1px;
	padding: 0px 30px;
	vertical-align: middle;
	color: #333;
}
.article::shadow > table > tfoot > tr > td > table td:nth-of-type(2) {
	border-width: 1px 0 0 0;
	width: 100%;
	vertical-align: top;
	padding-top: 5px;
	text-align: right;
}
.article::shadow > table > tfoot > tr > td > table td:first-of-type {
	border-width: 0 1px 1px 1px;
	font-weight: 700;
	cursor: pointer;
}
.article::shadow > table > thead > tr > th.column-0.sorted-column-asc,
.article::shadow > table > thead > tr > th.column-0.sorted-column-desc {
	border-width: 0 0 1px 0;
	padding: 0 20px 5px;
	vertical-align: bottom;
}
.article::shadow > table > thead > tr > th.column-0 {
	width: 100%;
	text-align: left;
}