.mod-container {
	font-family:verdana,helvetica,arial,sans-serif;
	width:100%;
	clear:both;
	font-size: 13px/1.385;
	background:#fff;
	font-size:11px;
	border-width:1px;
	border-color:#c2c2c2;
	border-style:solid;
	overflow:hidden;
	padding:0;
}
.mod-header {
	height:25px;
	margin:1px 1px 0 1px;
	padding:0 0 0 10px;
	line-height:25px;
	letter-spacing:.3px;
	font-size:13px;
	font-weight:700;
	font-family:helvetica,arial,sans-serif;
	background:#0f4871;
	color:#fff;
}
.espn::shadow table {
	border-collapse:separate;
	border-spacing:1px;
	margin:0;
	padding:0;
	width:100%
}
.espn::shadow table a {
	color:#225fb2
}
.espn::shadow th,
.espn::shadow td {
	padding:3px 6px;
	font-size:11px;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	vertical-align:middle
}
.espn::shadow th {
	text-align:center;
	background-color:#d6d6d6;
	cursor:pointer;
	background:#e8e8e8;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #CECECE), color-stop(100%, #E7E7E7));
	background-image:-moz-linear-gradient(top, #CECECE,#E7E7E7);
	background-image:linear-gradient(top, #CECECE,#E7E7E7);
	border-bottom:1px #c2c2c2 solid;
	font-weight:700;
	color:#444;
	font-size:11px;
	text-decoration:underline;
}
.espn::shadow .sortable-table-footer {
	padding:3px 6px;
	font-weight:700;
	color:#444;
	font-size:11px;
}
.espn::shadow th:hover,
.espn::shadow thead a:hover {
	color:#777;
	text-decoration:none;
}
.espn::shadow tbody tr:nth-of-type(odd){
	background-color:#FFF
}
.espn::shadow tbody tr:nth-of-type(even){
	background-color:#f1f1f1
}
.espn::shadow tbody .sorted-column-asc,
.espn::shadow tbody .sorted-column-desc,
.espn::shadow tbody tr.selected-row {
	background-color:#ddd!important;
	font-weight:700
}
.espn::shadow button {
	background-color:#FAFBFD;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FAFBFD), color-stop(48%, #d0e7ff), color-stop(52%, #bbd2f0), color-stop(100%, #A4BCD8));
	background-image:-moz-linear-gradient(top, #FAFBFD,#d0e7ff 48%,#bbd2f0 52%,#A4BCD8);
	background-image:linear-gradient(top, #FAFBFD,#d0e7ff 48%,#bbd2f0 52%,#A4BCD8);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
	padding:0px 2px 2px 2px;
	border-width:1px;
	border-style:solid;
	border-color:#829CC5;
	height: 18px;
	width: 18px;
	margin: 0 2px;
	line-height: 11px;
	vertical-align:top;
}
.espn::shadow button:not([disabled]):hover {
	border-color:#81a4d0;
	border-width:1px;
	background-image:none;
	background-color:#dbeeff;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dbeeff), color-stop(48%, #d0e7ff), color-stop(52%, #bbd2f0), color-stop(100%, #bed6f5));
	background-image:-moz-linear-gradient(top, #dbeeff,#d0e7ff 48%,#bbd2f0 52%,#bed6f5);
	background-image:linear-gradient(top, #dbeeff,#d0e7ff 48%,#bbd2f0 52%,#bed6f5);
}
.espn::shadow thead th.column-move-right {
	background-image:-webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #CECECE), color-stop(100%, #E7E7E7));
	background-image:-moz-linear-gradient(left, #CECECE,#E7E7E7);
	background-image:linear-gradient(left, #CECECE,#E7E7E7);
}
.espn::shadow thead th.column-move-left {
	background-image:-webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #E7E7E7), color-stop(100%, #CECECE));
	background-image:-moz-linear-gradient(right, #CECECE,#E7E7E7);
	background-image:linear-gradient(right, #CECECE,#E7E7E7);
}
.espn::shadow tbody input,
.espn::shadow tbody input:focus,
.espn::shadow tbody input:active,
.espn::shadow tbody select {
	background: inherit;
	border: none;
}
