/*x-panel x-grid x-panel-default-framed*/
sortable-table.extjs4 {
	border-color:#99bbe8;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	padding:4px;
	border-width:1px;
	border-style:solid;
	background-color:#dfe8f6;
}
.x-panel-header-default-framed-top{
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	-o-border-top-left-radius:4px;
	-ms-border-top-left-radius:4px;
	-khtml-border-top-left-radius:4px;
	border-top-left-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	-o-border-top-right-radius:4px;
	-ms-border-top-right-radius:4px;
	-khtml-border-top-right-radius:4px;
	border-top-right-radius:4px;
	-moz-border-radius-bottomright:0;
	-webkit-border-bottom-right-radius:0;
	-o-border-bottom-right-radius:0;
	-ms-border-bottom-right-radius:0;
	-khtml-border-bottom-right-radius:0;
	border-bottom-right-radius:0;
	-moz-border-radius-bottomleft:0;
	-webkit-border-bottom-left-radius:0;
	-o-border-bottom-left-radius:0;
	-ms-border-bottom-left-radius:0;
	-khtml-border-bottom-left-radius:0;
	border-bottom-left-radius:0;
	padding:4px 5px 4px 5px;
	border-width: 1px 1px 0 1px;
	border-style:solid;
	background-image:none;
	background-color:#cbddf3;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dae7f6), color-stop(45%, #cddef3), color-stop(46%, #abc7ec), color-stop(50%, #abc7ec), color-stop(51%, #b8cfee), color-stop(100%, #cbddf3));
	background-image:-moz-linear-gradient(top, #dae7f6,#cddef3 45%,#abc7ec 46%,#abc7ec 50%,#b8cfee 51%,#cbddf3);
	background-image:linear-gradient(top, #dae7f6,#cddef3 45%,#abc7ec 46%,#abc7ec 50%,#b8cfee 51%,#cbddf3);
	/*x-panel-header-text-default-framed */
	color: #04468C;
	font-weight: bold;
	font-family: tahoma,arial,verdana,sans-serif;
	/* x-panel-header-default-framed */
	font-size: 12px;
	line-height: 15px;
	border-color: #99BBE8;
	box-shadow: 0px 1px 0px 0px #F4F8FD inset, -1px 0px 0px 0px #F4F8FD inset, 1px 0px 0px 0px #F4F8FD inset;
}
.x-panel-header-default-framed-top + sortable-table.extjs4 {
	border-radius: 0 0 4px 4px;
}
.extjs4::shadow {
	border-width: 1px;
	border-collapse: collapse;
}
.extjs4::shadow > table > thead > tr {
	height: 22px;
/*x-grid-header-ct*/
	cursor:default;
	zoom:1;
	padding:0;
	border:1px solid #99bbe8;
	background-image:none;
	background-color:#c5c5c5;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e3e4e6));
	background-image:-moz-linear-gradient(top, #f9f9f9,#e3e4e6);
	background-image:linear-gradient(top, #f9f9f9,#e3e4e6);
	padding-left:1px;
/*x-grid-header-ct-default*/
/*x-docked*/
/*x-docked-top*/
	border-bottom-width:0 !important;
/*x-grid-header-ct-docked-top x-grid-header-ct-default-docked-top x-box-layout-ct*/
/*x-box-inner*/
	/*border-width:0*/
}

.extjs4::shadow > table > tbody input,
.extjs4::shadow > table > tbody select {
	width: 90%;
	margin-left:auto;
	margin-right:auto;
	display: block;
	border: 1px solid #7eadd9;
	background-image:none;
	background-color:#ffffff;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dee3e6), color-stop(39%, #fdfefe), color-stop(40%, #ffffff), color-stop(100%, #ffffff));
	background-image:-moz-linear-gradient(top, #dee3e6,#fdfefe 39%,#ffffff 40%,#ffffff);
	background-image:linear-gradient(top, #dee3e6,#fdfefe 39%,#ffffff 40%,#ffffff);
}

.extjs4::shadow > table > thead > tr > th {
	cursor: auto;
	color: #000;
	/*x-unselectable*/
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:ignore;
	/*x-column-header*/
	overflow:hidden;
	border-right:1px solid #c5c5c5;
	border-left:0 none;
	border-top:0 none;
	border-bottom:0 none;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.3);
	font:normal 11px/15px tahoma, arial, verdana, sans-serif;
	font:normal 11px tahoma, arial, verdana, sans-serif;
	background-image:none;
	background-color:#c5c5c5;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e3e4e6));
	background-image:-moz-linear-gradient(top, #f9f9f9,#e3e4e6);
	background-image:linear-gradient(top, #f9f9f9,#e3e4e6);
	/*x-unselectable-default*/
	/*x-column-header-align-left*/
	text-align:left;
	/*x-box-item x-column-header-first*/
	/*x-column-header-inner*/
	white-space:nowrap;
	line-height:22px;
	padding:0px 6px;
	text-decoration: none;
}
.extjs4::shadow > table > thead > tr > th:hover,
.extjs4::shadow > table > thead > tr > th.sorted-column-asc,
.extjs4::shadow > table > thead > tr > th.sorted-column-desc
{
	/* x-column-header-over */
	border-left-color:#aaccf6;
	border-right-color:#aaccf6;
	background-image:none;
	background-color:#aaccf6;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebf3fd), color-stop(39%, #ebf3fd), color-stop(40%, #d9e8fb), color-stop(100%, #d9e8fb));
	background-image:-moz-linear-gradient(top, #ebf3fd,#ebf3fd 39%,#d9e8fb 40%,#d9e8fb);
	background-image:linear-gradient(top, #ebf3fd,#ebf3fd 39%,#d9e8fb 40%,#d9e8fb);
}
.extjs4::shadow > table > tbody {
	cursor: auto !important;
	border-top-width: 1px;
	border-bottom-width: 1px;
/*x-panel-body*/
/*x-grid-body*/
	background:white;
	border-color:#99bbe8;
	border-style:solid;
	border-width:1px;
	border-top-color:#c5c5c5;
	/*x-panel-body-default-framed*/
	/*
	background:#dfe8f6;
	border-color:#99bbe8;
	color:black;
	border-width:0;
	border-style:solid;
	*/
	/*x-layout-fit*/
	/*x-component x-grid-view x-component-default*/
	/*x-unselectable*/
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:ignore;
	/*x-fit-item*/
	/*x-grid-table*/
	/*
	table-layout:fixed;
	border-collapse:separate;
	*/
	/*x-grid-table-resizer*/
}
.extjs4::shadow > table > tbody > tr {
	font:normal 13px helvetica,tahoma,verdana,sans-serif;
/*x-grid-row*/
	line-height:13px;
	vertical-align:top;
	padding:0 1px;
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:ignore;
	border: 1px solid #dddddd;
}
.extjs4::shadow > table > tbody > tr > td:last-of-type {
	border-right:1px solid #99bbe8;
}
.extjs4::shadow > table > tbody > tr > td:first-of-type {
	border-left:1px solid #99bbe8;
}
.extjs4::shadow > table > tbody > tr:last-of-type td {
	border-bottom:1px solid #99bbe8;
}
.extjs4::shadow > table > tbody > tr:nth-of-type(even) {
	/*x-grid-row-alt*/
	background-color:#fafafa;
}
.extjs4::shadow > table > tbody > tr:hover {
	/*x-grid-row-over*/
	background-color:#efefef;
	border-color:#dddddd;
}
.extjs4::shadow > table > tbody > tr.selected-row {
/*x-grid-row-selected*/
	border-style:dotted;
	border-color:#a3bae9;
	background-color:#dfe8f6 !important;
/*x-grid-row-focused*/
/*
	border-color:#dddddd;
	background-color:#efefef;
*/
}
.extjs4::shadow button,
.extjs4::shadow [role*="button"] {
	background-color: inherit;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
	padding:2px 2px 2px 2px;
	border-width:1px;
	border-style:solid;
	border-color:transparent;
	height: 22px;
	padding-left: 1px;
	padding-right: 1px;
	margin: 0 2px;
	line-height: 11px;
	min-width: 22px;
}
.extjs4::shadow button:not([disabled]):not(.active):hover,
.extjs4::shadow [role*="button"]:not([disabled]):not(.active):hover,
.extjs4::shadow button:not(.disabled):not(.active):hover,
.extjs4::shadow [role*="button"]:not(.disabled):not(.active):hover{
	border-color:#81a4d0;
	border-width:1px;
	background-image:none;
	background-color:#dbeeff;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dbeeff), color-stop(48%, #d0e7ff), color-stop(52%, #bbd2f0), color-stop(100%, #bed6f5));
	background-image:-moz-linear-gradient(top, #dbeeff,#d0e7ff 48%,#bbd2f0 52%,#bed6f5);
	background-image:linear-gradient(top, #dbeeff,#d0e7ff 48%,#bbd2f0 52%,#bed6f5);
}
.extjs4::shadow button.active,
.extjs4::shadow [role*="button"].active{
	border-color:#9ebae1;
	background-image:none;
	background-color:#b6cbe4;
	background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#b6cbe4),color-stop(48%,#bfd2e6),color-stop(52%,#8dc0f5),color-stop(100%,#98c5f5));
	background-image:-webkit-linear-gradient(top,#b6cbe4,#bfd2e6 48%,#8dc0f5 52%,#98c5f5);
	background-image:-moz-linear-gradient(top,#b6cbe4,#bfd2e6 48%,#8dc0f5 52%,#98c5f5);
	background-image:-o-linear-gradient(top,#b6cbe4,#bfd2e6 48%,#8dc0f5 52%,#98c5f5);
	background-image:linear-gradient(top,#b6cbe4,#bfd2e6 48%,#8dc0f5 52%,#98c5f5)
}

.extjs4::shadow .x-toolbar-separator-horizontal {
	margin: 0px 3px 0px 2px;
	height: 13px;
	width: 0px;
	border-left: 1px solid #98C8FF;
	border-right: 1px solid #FFF;
	display: inline-block;
	vertical-align: middle;
}
.extjs4::shadow > table > tfoot {
	height: 22px;
	/*x-toolbar*/
	font-size:11px;
	border:1px solid;
	/*x-toolbar-default*/
	border-color:#99bbe8;
	background-image:none;
	background-color:#d3e1f1;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfe9f5), color-stop(100%, #d3e1f1));
	background-image:-moz-linear-gradient(top, #dfe9f5,#d3e1f1);
	background-image:linear-gradient(top, #dfe9f5,#d3e1f1);
	/*x-docked*/
	/*x-docked-bottom*/
	border-top-width:0 !important;
	/*x-toolbar-docked-bottom x-toolbar-default-docked-bottom x-box-layout-ct*/
	/*x-box-inner*/
	border-width:0;
	/*x-toolbar-text*/
	margin-left:4px;
	margin-right:6px;
	white-space:nowrap;
	color:#4c4c4c !important;
	/*line-height:22px;*/
	font-family:tahoma, arial, verdana, sans-serif;
	font-size:11px;
	font-weight:normal;
	/*x-toolbar-text-default x-box-item x-toolbar-item*/
	margin:0 6px 0 0;
}
.extjs4::shadow > table > tfoot > tr:first-of-type {
	background-color: #D8E4F2;
	border:1px solid #99bbe8;
	padding: 2px;
}
.extjs4::shadow > table > tfoot > tr:nth-of-type(2) {
	background-color:#dfe8f6;
}
.extjs4::shadow > table > tfoot > tr:nth-of-type(2) td {
	padding-top: 5px;
}
.extjs4::shadow > table > thead > tr > th.column-move-right {
	border-right-color: #FBBA37;
	background: #FBBA37; /* Older browsers */
	background: -moz-linear-gradient(left, #ebedec 50%, #FBBA37 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(left, #ebedec 50%, #FBBA37 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #ebedec 50%, #FBBA37 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #ebedec 50%, #FBBA37 100%); /* IE10+ */
	background: linear-gradient(left, #ebedec 50%, #FBBA37 100%); /* W3C */
}
.extjs4::shadow > table > thead > tr > th.column-move-left {
	border-left-color: #FBBA37;
	background: #FBBA37; /* Older browsers */
	background: -moz-linear-gradient(left, #FBBA37 0%, #ebedec 50%); /* FF3.6+ */
	background: -webkit-linear-gradient(left, #FBBA37 0%, #ebedec 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #FBBA37 0%, #ebedec 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #FBBA37 0%, #ebedec 50%); /* IE10+ */
	background: linear-gradient(left, #FBBA37 0%, #ebedec 50%); /* W3C */
}
.extjs4::shadow > table > thead > tr > th.sorted-column-asc::after {
	content: '▲';
	position: absolute;
	color:#6190CD;
}
.extjs4::shadow > table > thead > tr > th.sorted-column-desc::after {
	content: '▼';
	position: absolute;
	color:#6190CD;
}
.extjs4::shadow > table > tbody > tr.editor-row {
	background-color: #eaf1fb;
}
.extjs4::shadow > table > tbody > tr.edited-row > td {
	background-color: rgba(255,0,0,0.33);
}
.extjs4::shadow .simplePager {
	padding-left: 8px;
}
.extjs4::shadow .articlePager {
	border: 0;
	border-spacing: 0;
	height: 24px;
}
.extjs4::shadow .articlePager [role*="button"] {
	padding: 0 6px 0 4px;
}
.extjs4::shadow .infinitePager {
	text-align: center;
	height: 22px;
	line-height:22px;
}
.extjs4::shadow .infinitePager [role*="button"] {
	width: 100%;
	display: block;
}
.extjs4::shadow .infinitePager .more {
	padding-left: 4px;
	padding-right: 4px;
}
.extjs4::shadow .indexedPager a {
	text-decoration: none;
	color: #000;
}
.extjs4::shadow .indexedPager ul {
	margin: 0;
}
.extjs4::shadow .indexedPager li {
	display: inline-block;
	padding: 0 8px;
	line-height: 22px;
}
.extjs4::shadow .indexedPager li a {
	display: inline-block;
	height: 20px;
	min-width: 16px;
}
.extjs4::shadow .indexedPager > ul > li:first-of-type a {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAGcSURBVDjLxVM7SEJRGP5vmVfpAWGFERJUONQWLtEQOUQRbUK09IDW1mp1KKPBsdGlWqKIqGiLoq0aggqxraFARMpX95535xxCNLouDh04cM7//3yvwzGEEFDPaoA6l6vyEj3MaDmcc0CMX23NdY9X9iPxlxijsHK8GmxxUMAh1O+BAb8bEKZVnZntVMyisFYiotnRgkU4UMaByC0Hy/XpzWQ80GGuTwy1GUULO1tQrIQJQBLIsriuTW4kE71d3qWg3wNM9gqIOYeoWDHlGuALYQhHn/cCPnNpsMeEjyIBW9bzP8B/KlCsSAJ4TQNyiI0M97WaPe1NkM4TyJco+FpcQC3irECxYsVuM/iyaBFTplltzHU+6sx/KagCKCDlX0A6R5TXp5O77NHl4wd43QYYoOwJEAg7A6iEEZHsMijpVbzuhCLPqdzBzcMnNHsadT7CZrUUMB2gjVnZ6/v+6GzqMbt7e5/V+fBaIaqEbfUKEqByMH0enu8cu+AE0QVBqDOAYk2cvUmfUiqrHsxcTy36QqcE3K7lyrrx77/xG/TSBY2ALCinAAAAAElFTkSuQmCC);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	color: transparent;
}
.extjs4::shadow .defaultPager > div:nth-of-type(1) > button:nth-of-type(1):after {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAGcSURBVDjLxVM7SEJRGP5vmVfpAWGFERJUONQWLtEQOUQRbUK09IDW1mp1KKPBsdGlWqKIqGiLoq0aggqxraFARMpX95535xxCNLouDh04cM7//3yvwzGEEFDPaoA6l6vyEj3MaDmcc0CMX23NdY9X9iPxlxijsHK8GmxxUMAh1O+BAb8bEKZVnZntVMyisFYiotnRgkU4UMaByC0Hy/XpzWQ80GGuTwy1GUULO1tQrIQJQBLIsriuTW4kE71d3qWg3wNM9gqIOYeoWDHlGuALYQhHn/cCPnNpsMeEjyIBW9bzP8B/KlCsSAJ4TQNyiI0M97WaPe1NkM4TyJco+FpcQC3irECxYsVuM/iyaBFTplltzHU+6sx/KagCKCDlX0A6R5TXp5O77NHl4wd43QYYoOwJEAg7A6iEEZHsMijpVbzuhCLPqdzBzcMnNHsadT7CZrUUMB2gjVnZ6/v+6GzqMbt7e5/V+fBaIaqEbfUKEqByMH0enu8cu+AE0QVBqDOAYk2cvUmfUiqrHsxcTy36QqcE3K7lyrrx77/xG/TSBY2ALCinAAAAAElFTkSuQmCC);
	position: absolute;
	margin-top: -2px;
	margin-left: -8px;
}
.extjs4::shadow .defaultPager > div:nth-of-type(2) > button:nth-of-type(2):after {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAGeSURBVDjLxZO/axRRFIW/N7o7CZIIKhosAoIIopWNqEX0L7ARG0EU0V4UVLBJJVjY2FgsgiykCOY/SIw2tgHJqEELUUzQJpudcd/c9+M+ixBYhNkmhae7X3E498AxKSV2o4xdau/wMfv6V6XK89mrRx4N8zud78ve6UXxivjAwv0TpinBvqg8uNf98WQYWqucmh7j0ukJSknNL1ivnDmWm8OT7Ye3Xnx7tsMH4hAfcV6prGs2EBdQYPpgm6n97buXn669BCglYV1CvFJKbO7gj0+4oPRt5PhUi02b3zz/+EMbDLUbo24Z+labDaxVJCi9QSAzcPLoOC24tlj0ZHI8Q3wkWN9sMBCH80rtInsMZCZRB6USrco65hmgoxKUkhCfIEGeG94WW6x87S+QOPR7080cmGiRZESJld1uO28Zllb7rKz15n92zl5Rq0kk4oKS6jgqQUS88q7oUXwpu+vdc9cBkjiC2+5n5At9qywXPT593nq1Pnfhxg5PdcR7xUcl+dBsEKzn42rZ2ZifuT3M1Srv32yQgvLv+Mx/X+Nfknb5JPA+HGwAAAAASUVORK5CYII=);
	position: absolute;
	margin-top: -2px;
	margin-left: -8px;
}
.extjs4::shadow .simplePager > span:nth-of-type(2){
	padding-left: 4px;
	padding-right: 4px;
}
.extjs4::shadow .defaultPager > div:nth-of-type(1) > button:nth-of-type(1),
.extjs4::shadow .defaultPager > div:nth-of-type(2) > button:nth-of-type(2),
.extjs4::shadow .simplePager > button:nth-of-type(1),
.extjs4::shadow .defaultPager > div:nth-of-type(1) > button:nth-of-type(2),
.extjs4::shadow .simplePager > button:nth-of-type(2),
.extjs4::shadow .defaultPager > div:nth-of-type(2) > button:nth-of-type(1) {
	color: transparent;
	line-height: 11px;
	font-size: 0;
}
.extjs4::shadow .simplePager > button:nth-of-type(1):after,
.extjs4::shadow .defaultPager > div:nth-of-type(1) > button:nth-of-type(2):after {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAEXSURBVDjLY/j//z8DJZiBLgZkz37Ynjrz4ReyDEideb89afrDf5ET7v4n2YCEqXf7qpY9/T9r76v/Xu03STMgasLteaVLHv+fufvl/6k7X/y3qrlCvAHBvTeXFC54ANbctv7p/95Nz/5rFZ0nzoCAzpuPsuc++D91x4v/jasf/y9aeP9/89rH/6VTTxJngGPDtc3xU+/879789H/5kgf/02fd+V+17OF/yZhjxBmgVXCaRT3v7BqP1mv/a1Y+/J824/b/woX3/osHHSAtECVjjqy0Lb/wP2/+3f+Zs+/8F3XfS3o0inntXWSeffJ/0tRb/0Ucdv4nKyEJW25ZYBh/5L+w5fb/ZCdlQYMNs4WMt/wfuMyEDwMA0Irn/pDRT58AAAAASUVORK5CYII=);
	position: absolute;
	margin-top: -2px;
	margin-left: -8px;
}
.extjs4::shadow .simplePager > button:nth-of-type(2):after,
.extjs4::shadow .defaultPager > div:nth-of-type(2) > button:nth-of-type(1):after {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAEdSURBVDjLY/j//z8DJZiB6gY0rH7xpW7li3YKDHj1v2bli38lix61k2VA5fJn/9eeeP+/fcOL/wlT7/aRbEDegkf/Vxx/93/xobf/S5c8/u/ecm0eSQYkTX/4f+HBN/8nbX/xf+bul/8Tp9/9r1N0dgnRBgT33QZqfPW/YdXj/42rH//v2vjkv3fHtf9SScceEWWAc8u1/xO2Pv9fsvjB//IlD4CGPPrvXH/5v2Tksc1EGWBaful/+/on/4sW3gfGxsP/9lUX/ksEH1gj6rqdhSgDlPPO/q9b8fB/5bIH/23LL/wXD9i7kqRAlEo6+b908f3/NiXn/4t57V1EcjRKRB75b1145r+o684FZCUkMb8D/0Uct88euMxEKgYA7Ojrv4CgE7EAAAAASUVORK5CYII=);
	position: absolute;
	margin-top: -2px;
	margin-left: -8px;
}
.extjs4::shadow .indexedPager > ul > li:last-of-type a {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAGeSURBVDjLxZO/axRRFIW/N7o7CZIIKhosAoIIopWNqEX0L7ARG0EU0V4UVLBJJVjY2FgsgiykCOY/SIw2tgHJqEELUUzQJpudcd/c9+M+ixBYhNkmhae7X3E498AxKSV2o4xdau/wMfv6V6XK89mrRx4N8zud78ve6UXxivjAwv0TpinBvqg8uNf98WQYWqucmh7j0ukJSknNL1ivnDmWm8OT7Ye3Xnx7tsMH4hAfcV6prGs2EBdQYPpgm6n97buXn669BCglYV1CvFJKbO7gj0+4oPRt5PhUi02b3zz/+EMbDLUbo24Z+labDaxVJCi9QSAzcPLoOC24tlj0ZHI8Q3wkWN9sMBCH80rtInsMZCZRB6USrco65hmgoxKUkhCfIEGeG94WW6x87S+QOPR7080cmGiRZESJld1uO28Zllb7rKz15n92zl5Rq0kk4oKS6jgqQUS88q7oUXwpu+vdc9cBkjiC2+5n5At9qywXPT593nq1Pnfhxg5PdcR7xUcl+dBsEKzn42rZ2ZifuT3M1Srv32yQgvLv+Mx/X+Nfknb5JPA+HGwAAAAASUVORK5CYII=);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	color: transparent;
}